label {
  font-weight: 400;
  text-align: right;
}

.labelleft {
  margin-left: 15px;
  text-align: left !important;
  position:absolute;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 5px;
}

input[type=button] {
  width:120px;
}

.section {
  border-bottom: 1px dashed #8c8b8b;
}

h3 {
  margin-bottom: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  display: block;
  transition: 0.3s;
  white-space:nowrap;
}

.sidenav a:hover,
.offcanvas a:focus {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#container {
  transition: margin-left .5s;
  padding: 20px;
}

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.click,
.click:hover,
.click:visited,
.click:link {
  text-decoration: none;
  color: #31708f;
  cursor: pointer;
}

.margintop {
  margin-top: 10px;
}

.space {
  margin-bottom: 10px;
}

.wraptext {
  word-wrap: break-word;
}

.btn .icon-bar+.icon-bar {
  margin-top: 4px;
}

.btn .icon-bar {
  display: block;
  width: 12px;
  height: 2px;
  background-color: #333;
  border-radius: 1px;
}

.wifi {
  padding: 20px;
}

.wifi,
.wifi:before {
  display: inline-block;
  border: 60px double transparent;
  border-top-color: currentColor;
  border-radius: 50%;
}

.wifi:before {
  content: '';
  width: 0;
  height: 0;
}

@media (max-width: 768px) {
  .margintop {
    margin-top: -90px;
  }
  .center-xd {
    text-align: center;
  }
}

.progress {
  border: solid 1px #337ab7;
  background-color: #d9edf7;
  border-color: #337ab7;
  border-radius: 4px;
}

.progress-bar {
  background-color: #337ab7;
  width: 0%;
}

.sizing-box {
  height: 110px;
  width: 150px;
}

.signal-bars {
  display: inline-block;
}

.signal-bars .bar {
  width: 14%;
  margin-left: 1%;
  min-height: 20%;
  display: inline-block;
}
.signal-bars .bar.first-bar  { height: 20%; }
.signal-bars .bar.second-bar { height: 40%; }
.signal-bars .bar.third-bar  { height: 60%; }
.signal-bars .bar.fourth-bar { height: 80%; }
.signal-bars .bar.fifth-bar  { height: 99%; }

.lzero .bar {
  background-color: #fafafa;
  border: thin solid #ccc;
}
.lone .bar {
  background-color: #ff0000;
  border: thin solid #800000;
}
.ltwo .bar {
  background-color: #ff6a00;
  border: thin solid #803500;
}
.lthree .bar {
  background-color: #ffd800;
  border: thin solid #806a00;
}
.lfour .bar {
  background-color: #b6ff00;
  border: thin solid #558000;
}
.lfive .bar {
  background-color: #4cff00;
  border: thin solid #2a8000;
}

.four-bars .bar.fifth-bar,
.three-bars .bar.fifth-bar,
.three-bars .bar.fourth-bar,
.one-bar .bar:not(.first-bar),
.two-bars .bar:not(.first-bar):not(.second-bar) {
  background-color: #fafafa;
  border: thin solid #ccc;
}

.oneline {
  clear: both;
}

@media (max-width: 527px) {
  .hidden-vxs {
    display: none;
  }
  input[type=button] {
    margin-top: 5px;
  }
}

@media (min-width: 578px) and (max-width: 821px) {
  .modalmargintop {
    margin-top: 5px;
  }
}

.mmarginbottom {
  margin-bottom: 0px;
}

.rb {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: left;
}

.rb input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ccc;
  border-radius: 50%;
}

.rb:hover input ~ .checkmark {
  background-color: #ccc;
}

.rb input:checked ~ .checkmark {
  background-color: #337ab7;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rb input:checked ~ .checkmark:after {
  display: block;
}

.rb .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.table {
  border: 1px solid #ccc;
  margin-left:auto;
  margin-right:auto;
}

.table td {
  width: 10%;
  border: 1px solid #ccc;
}

.iconwithtext {
  margin-right: 10px;
}

.darkmode,
.darkmode .btn-default,
.darkmode .form-control {
  color: #fff;
  background-color: #2f363d;
}

.darkmode .icon-bar {
  color: #000;
  background-color: #fff;
}

.darkmode .btn-primary {
  background-color: #0f82af;
}

.darkmode .modal-content {
  color: #fff;
  background-color: #2f363d;
}

.darkmode a,
.darkmode .click {
  color: #0f82af !important;
}

.darkmode input:checked + .slider,
.darkmode .rb input:checked ~ .checkmark {
  background-color: #0f82af !important;
}

.darkmode .sidenav a {
  color: #818181 !important;
}

.darkmode .sidenav a:hover,
.darkmode .offcanvas a:focus {
  color: #f1f1f1 !important;
}

.darkmode .slider:before,
.darkmode .rb .checkmark:after {
  background-color: #2f363d;
}

.darkmode hr {
  border-top: 1px solid #777;
}

.wordbreak {
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  -ms-word-break: break-all;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
}

.tooltip {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  border: 1px solid black;
  padding: 3px;
  background-color: #ccc;
  opacity: 0.9;
  box-shadow: 5px 5px 5px;
}

.darkmode .tooltip {
  color: black;
}

.input-group {
  display: table;
}

.input-group-element {
  padding-inline-start: 10px;
  display: table-cell;
  width: 1%;
  text-align: end;
  vertical-align: middle;
}

@media (max-width: 768px) {
  .col-xs-12-text-left {
    text-align: left;
  }
}

#gps_map {
  width: 100%;
  height: 400px;
  z-index: 0;
}
